html {
    max-width: 790px;
    margin: 0 auto;
}

body {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(4, auto);
    grid-gap: 10px;
}

nav {
    background-color: aqua;
}

.navGrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-auto-flow: column;
}

#navFigGrid {
    grid-column: 1;
    display: flex;
    justify-content: center;
    justify-content: center;
}

.menuLink{
    background-color: beige;
    padding: 10px 10px 10px 10px;
}

#navMenGrid {
    background-color: yellowgreen;
    text-align: right;
    grid-column: 3;
    display: flex;
    align-items:center;
    justify-content:space-evenly;
}

.companyLogo {
    padding: 10px 10px 10px 10px;
    width: 100%;
    object-fit: contain;
}

header {
    background-color: bisque;
}

.imgHeader {
    width: 25%;
}

div {}

h2 {
    background-color: aquamarine;
}

footer {
    background-color: blanchedalmond;
}

.gpuImg{
    width: 100%;
    height:100%;
}

.content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 1fr 1fr;
    text-align: center;
    grid-gap: 10px;
}

#sectionOne,
#sectionTwo,
#sectionThree,
#sectionFour {
    background-color: cadetblue;
}

.contactForm {
    background-color: azure;
}


#sectionOne {
    grid-column: 1/3;
}

#sectionTwo {
    grid-column: 3/5;
}

#sectionThree {
    grid-column: 1/3;
}

#sectionFour {
    grid-column: 3/5;
}

.contactForm {
    grid-column: 2/4;
    text-align: left;
    padding-right: 10px;
}

#contact {
    width: 100%;
}

#contact textarea {
    width: 100%;
    max-width: 100%;
}

#submitBtn {
    display: block;
    margin-left: auto;
    margin-top: 10px;
    max-width: 645px;
}

#contact dt {
    padding-left: 40px;
}

h2,header,footer {
    text-align: center;
}


.dropdown {
    display: none;
}


/* MEDIA */

@media (max-width: 590px) {
    .content {
        grid-template-rows: auto;
        background-color: coral;
    }

    #sectionOne, #sectionTwo, #sectionThree,#sectionFour {
        grid-column: 1/5;
    }

    .contactForm {
        grid-column: 2/4;
        text-align: left;
    }

    #contact input,
    #contact textarea {
        width: 100%
    }

    #navFigGrid {
        grid-column: 2;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #navMenGrid {
        display: none;
    }

    #hamburgerMenu {
        width: 100%;
    }

    .dropdown {
        position: relative;
        display: inline-block;
        width: 50%;
        padding-top: 10px;
        padding-left: 10px;

    }

    .dropButton {
        border-radius: 5px;
        border-width: 0;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f1f1f1;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
    }

    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

    .dropdown:hover .dropdown-content {
        display: block;
    }

    .dropdown:hover .dropButton {
        background-color: #3e8e41;
    }

}

@media (max-width: 790px) {}